<script lang="ts" setup>
import { ref } from "vue";
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
function status(){
  //click button change status
}
</script>
<template>
  <v-container>
    <v-row>
      <img src="smile.png">
    </v-row>
    <v-row justify="end" class="pt-15">
      <v-btn
        style="width: 500px"
        class="text-h6"
        @click="onClick()"
        >ANGRY</v-btn>
    </v-row>
    <v-row justify="end" class="pt-15">
      <v-btn
        style="width: 500px"
        class="text-h6"
        @click="onClick()"
        >ANGRY</v-btn>
    </v-row>
    <v-row justify="end" class="pt-10">
        <v-btn
          style="width: 500px"
          class="text-h6"
          @click="onClick()"
          >CUTE</v-btn>
    </v-row>
    <v-row justify="end" class="pt-12">
        <v-btn
          style="width: 500px"
          class="text-h6"
          @click="onClick()"
          >EXCITED</v-btn>
    </v-row>
    <v-row justify="end" class="pt-12">
        <v-btn
          style="width: 500px"
          class="text-h6"
          @click="onClick()"
          >PAIN</v-btn>
    </v-row>
    <v-row justify="end" class="pt-12">
        <v-btn
          style="width: 500px"
          class="text-h6"
          @click="onClick()"
          >SHOCKED</v-btn>
    </v-row>
    <v-row justify="end" class="pt-12">
          ><v-btn
            style="width: 500px"
            class="text-h6"
            >SMILE</v-btn>
    </v-row>
    <TableDialog></TableDialog>
    <QRCodeDialog></QRCodeDialog>
  </v-container>
</template>

<style scoped></style>
